# <center>Assignment 2</center>

## 1. Define a function to analyze a numpy array
 - Assume we have an array which contains term frequency of each document. Where each row is a document, each column is a word, and the value denotes the frequency of the word in the document. Define a function named "analyze_tf" which:
      * takes the array as an input
      * normalizes the frequency of each word as: word frequency divided by the length of the document. Save the result as an array named **tf** (i.e. term frequency)
      * calculates the document frequency (**df**) of each word, e.g. how many documents contain a specific word
      * calculates **tf_idf** array as: **tf / df** (tf divided by df). The reason is, if a word appears in most documents, it does not have the discriminative power and often is called a "stop" word. The inverse of df can downgrade the weight of such words.
      * for each document, find out the **indexes of words with top 3 largest values in the tf_idf array**. Print out these indexes.
      * returns the tf_idf array.
 - Note, for all the steps, ** do not use any loop**. Just use array functions and broadcasting for high performance computation.

## 2. Define a function to analyze car dataset using pandas
 - Define a function named "analyze_cars" to do the follows:
   * Read "cars.csv" as a dataframe with the first row in the csv file as column names
   * Sort the data by "cylinders" and "mpg" in decending order and report the first three rows after sorting
   * Create a new column called "brand" to store the brand name as the first word in "car" column (hint: use "apply" function)
   * Show the mean, min, and max acceleration values by "cylinders" for each of these brands: "ford", "buick" and "honda"
   * Create a cross tab to show the average mpg of each brand and each clinder value. Use "brand" as row index and "cylinders" as column index. 
 - This function does not have any return. Just print out the result of each calculation step.

## Submission Guideline##
- Following the solution template provided below. Use __main__ block to test your functions
- Save your code into a python file (e.g. assign1.py) that can be run in a python 3 environment. In Jupyter Notebook, you can export notebook as .py file in menu "File->Download as".
- Make sure you have all import statements. To test your code, open a command window in your current python working folder, type "python assign1.py" to see if it can run successfully.

In [12]:
# Structure of your solution to Assignment 1
import numpy as np
import pandas as pd

def analyze_tf(arr):
    
    A = np.sum(arr, axis=1)
    
    #print(arr)
    #print(A)
    tf = arr.T / A
    #print(tf.T)
    x=np.where(tf.T>0,1,0)
    #print(x)
    df = np.sum(x, axis=0)
    #print(df)
    D = tf.T / df
    #print(D)
    tf_idf=np.argsort(D)
    #print(tf_idf)
    #print(tf_idf[:,::-1][:,0:3])
    
    return tf_idf[:,::-1][:,0:3]

def analyze_cars():
    
    # add your code
    data=pd.read_csv('cars.csv', header=0)
    print(data)
    sort = data.sort_values(by=['cylinders','mpg'], ascending=False)
    print(sort.head(3))
    sort['brand'] = sort.apply(lambda row: \
        row["car"].split()[0], axis=1)
    print(sort)
    tmp = sort[(sort.brand=='ford') | (sort.brand=='buick') | (sort.brand=='honda')]
    #print(tmp)
    grouped=tmp.groupby('cylinders')
    print(grouped.mean())
    print(grouped.min())
    print(grouped.max())
    print(pd.crosstab(index=sort.brand, columns=sort.cylinders, values=sort.mpg, aggfunc=np.average ))
    

# best practice to test your class
# if your script is exported as a module,
# the following part is ignored
# this is equivalent to main() in Java

if __name__ == "__main__":  
    
    #1 Test Question 1
    arr=np.random.randint(0,3,(4,8))
    #print(arr)
    tf_idf=analyze_tf(arr)
    print(tf_idf)
    
    # Test Question 2
    analyze_cars()

[[5 7 1]
 [7 4 1]
 [2 1 0]
 [2 0 3]]
      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
5    15.0          8           429        198    4341          10.0     70
6    14.0          8           454        220    4354           9.0     70
7    14.0          8           440        215    4312           8.5     70
8    14.0          8           455        225    4425          10.0     70
9    15.0          8           390        190    3850           8.5     70
10   15.0          8           383        170    3563          10.0     70
11   14.0          8           340        160    3609           8.0     70
12   15.0          8           400        150    3761           9.5     70
13   14.0          8           455        225    3086          10.0     70
14   24.0          4           113         95    2372          15.0     70
15   22.0          6           198         95    2833          15.5     70
16   18.0          6           199         97    2774          15.5     70
17   21.0          6           200         85    2587          16.0     70
18   27.0          4            97         88    2130          14.5     70
19   26.0          4            97         46    1835          20.5     70
20   25.0          4           110         87    2672          17.5     70
21   24.0          4           107         90    2430          14.5     70
22   25.0          4           104         95    2375          17.5     70
23   26.0          4           121        113    2234          12.5     70
24   21.0          6           199         90    2648          15.0     70
25   10.0          8           360        215    4615          14.0     70
26   10.0          8           307        200    4376          15.0     70
27   11.0          8           318        210    4382          13.5     70
28   27.0          4            97         88    2130          14.5     71
29   28.0          4           140         90    2264          15.5     71
..    ...        ...           ...        ...     ...           ...    ...
166  29.0          4            97         75    2171          16.0     75
167  23.0          4           140         83    2639          17.0     75
168  20.0          6           232        100    2914          16.0     75
169  23.0          4           140         78    2592          18.5     75
170  24.0          4           134         96    2702          13.5     75
171  25.0          4            90         71    2223          16.5     75
172  24.0          4           119         97    2545          17.0     75
173  18.0          6           171         97    2984          14.5     75
174  29.0          4            90         70    1937          14.0     75
175  19.0          6           232         90    3211          17.0     75
176  23.0          4           115         95    2694          15.0     75
177  23.0          4           120         88    2957          17.0     75
178  22.0          4           121         98    2945          14.5     75
179  25.0          4           121        115    2671          13.5     75
180  33.0          4            91         53    1795          17.5     75
181  28.0          4           107         86    2464          15.5     76
182  25.0          4           116         81    2220          16.9     76
183  25.0          4           140         92    2572          14.9     76
184  26.0          4            98         79    2255          17.7     76
185  27.0          4           101         83    2202          15.3     76
186  17.5          8           305        140    4215          13.0     76
187  16.0          8           318        150    4190          13.0     76
188  15.5          8           304        120    3962          13.9     76
189  14.5          8           351        152    4215          12.8     76
190  22.0          6           225        100    3233          15.4     76
191  22.0          6           250        105    3353          14.5     76
192  24.0          6           200         81    3012          17.6     76
193  22.5          6           232         90    3085          17.6     76
194  29.0          4            85         52    2035          22.2     76
195  24.5          4            98         60    2164          22.1     76

     origin                                car
0         1          chevrolet chevelle malibu
1         1                  buick skylark 320
2         1                 plymouth satellite
3         1                      amc rebel sst
4         1                        ford torino
5         1                   ford galaxie 500
6         1                   chevrolet impala
7         1                  plymouth fury iii
8         1                   pontiac catalina
9         1                 amc ambassador dpl
10        1                dodge challenger se
11        1                 plymouth 'cuda 340
12        1              chevrolet monte carlo
13        1            buick estate wagon (sw)
14        3              toyota corona mark ii
15        1                    plymouth duster
16        1                         amc hornet
17        1                      ford maverick
18        3                       datsun pl510
19        2       volkswagen 1131 deluxe sedan
20        2                        peugeot 504
21        2                        audi 100 ls
22        2                           saab 99e
23        2                           bmw 2002
24        1                        amc gremlin
25        1                          ford f250
26        1                          chevy c20
27        1                         dodge d200
28        3                       datsun pl510
29        1                chevrolet vega 2300
..      ...                                ...
166       3                     toyota corolla
167       1                         ford pinto
168       1                        amc gremlin
169       1                      pontiac astro
170       3                      toyota corona
171       2                  volkswagen dasher
172       3                         datsun 710
173       1                         ford pinto
174       2                  volkswagen rabbit
175       1                          amc pacer
176       2                         audi 100ls
177       2                        peugeot 504
178       2                        volvo 244dl
179       2                          saab 99le
180       3                   honda civic cvcc
181       2                           fiat 131
182       2                          opel 1900
183       1                           capri ii
184       1                         dodge colt
185       2                       renault 12tl
186       1  chevrolet chevelle malibu classic
187       1             dodge coronet brougham
188       1                        amc matador
189       1                   ford gran torino
190       1                   plymouth valiant
191       1                     chevrolet nova
192       1                      ford maverick
193       1                         amc hornet
194       1                 chevrolet chevette
195       1                    chevrolet woody

[196 rows x 9 columns]
      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
164  20.0          8           262        110    3221          13.5     75
0    18.0          8           307        130    3504          12.0     70
2    18.0          8           318        150    3436          11.0     70

     origin                        car
164       1        chevrolet monza 2+2
0         1  chevrolet chevelle malibu
2         1         plymouth satellite
      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
164  20.0          8           262        110    3221          13.5     75
0    18.0          8           307        130    3504          12.0     70
2    18.0          8           318        150    3436          11.0     70
186  17.5          8           305        140    4215          13.0     76
4    17.0          8           302        140    3449          10.5     70
65   17.0          8           304        150    3672          11.5     72
3    16.0          8           304        150    3433          12.0     70
115  16.0          8           400        230    4278           9.5     73
135  16.0          8           302        140    4141          14.0     74
155  16.0          8           400        170    4668          11.5     75
157  16.0          8           318        150    4498          14.5     75
187  16.0          8           318        150    4190          13.0     76
188  15.5          8           304        120    3962          13.9     76
1    15.0          8           350        165    3693          11.5     70
5    15.0          8           429        198    4341          10.0     70
9    15.0          8           390        190    3850           8.5     70
10   15.0          8           383        170    3563          10.0     70
12   15.0          8           400        150    3761           9.5     70
63   15.0          8           318        150    4135          13.5     72
71   15.0          8           304        150    3892          12.5     72
88   15.0          8           318        150    3777          12.5     73
114  15.0          8           350        145    4082          13.0     73
120  15.0          8           318        150    3399          11.0     73
156  15.0          8           350        145    4440          14.0     75
189  14.5          8           351        152    4215          12.8     76
6    14.0          8           454        220    4354           9.0     70
7    14.0          8           440        215    4312           8.5     70
8    14.0          8           455        225    4425          10.0     70
11   14.0          8           340        160    3609           8.0     70
13   14.0          8           455        225    3086          10.0     70
..    ...        ...           ...        ...     ...           ...    ...
56   24.0          4           113         95    2278          15.5     72
117  24.0          4           116         75    2158          15.5     73
121  24.0          4           121        110    2660          14.0     73
146  24.0          4            90         75    2108          15.5     74
148  24.0          4           120         97    2489          15.0     74
170  24.0          4           134         96    2702          13.5     75
172  24.0          4           119         97    2545          17.0     75
48   23.0          4           122         86    2220          14.0     71
58   23.0          4            97         54    2254          23.5     72
81   23.0          4           120         97    2506          14.5     72
167  23.0          4           140         83    2639          17.0     75
169  23.0          4           140         78    2592          18.5     75
176  23.0          4           115         95    2694          15.0     75
177  23.0          4           120         88    2957          17.0     75
45   22.0          4           140         72    2408          19.0     71
76   22.0          4           121         76    2511          18.0     72
79   22.0          4           122         86    2395          16.0     72
109  22.0          4           108         94    2379          16.5     73
178  22.0          4           121         98    2945          14.5     75
60   21.0          4           122         86    2226          16.5     72
77   21.0          4           120         87    2979          19.5     72
108  21.0          4           140         72    2401          19.5     73
59   20.0          4           140         90    2408          19.5     72
107  20.0          4            97         88    2279          19.0     73
118  20.0          4           114         91    2582          14.0     73
111  19.0          4           122         85    2310          18.5     73
119  19.0          4           121        112    2868          15.5     73
75   18.0          4           121        112    2933          14.5     72
70   19.0          3            70         97    2330          13.5     72
110  18.0          3            70         90    2124          13.5     73

     origin                                car       brand
164       1                chevrolet monza 2+2   chevrolet
0         1          chevrolet chevelle malibu   chevrolet
2         1                 plymouth satellite    plymouth
186       1  chevrolet chevelle malibu classic   chevrolet
4         1                        ford torino        ford
65        1                 amc ambassador sst         amc
3         1                      amc rebel sst         amc
115       1                 pontiac grand prix     pontiac
135       1                   ford gran torino        ford
155       1                   pontiac catalina     pontiac
157       1                plymouth grand fury    plymouth
187       1             dodge coronet brougham       dodge
188       1                        amc matador         amc
1         1                  buick skylark 320       buick
5         1                   ford galaxie 500        ford
9         1                 amc ambassador dpl         amc
10        1                dodge challenger se       dodge
12        1              chevrolet monte carlo   chevrolet
63        1                  plymouth fury iii    plymouth
71        1                   amc matador (sw)         amc
88        1               dodge coronet custom       dodge
114       1            chevrolet monte carlo s   chevrolet
120       1                  dodge dart custom       dodge
156       1                  chevrolet bel air   chevrolet
189       1                   ford gran torino        ford
6         1                   chevrolet impala   chevrolet
7         1                  plymouth fury iii    plymouth
8         1                   pontiac catalina     pontiac
11        1                 plymouth 'cuda 340    plymouth
13        1            buick estate wagon (sw)       buick
..      ...                                ...         ...
56        3              toyota corona hardtop      toyota
117       2                         opel manta        opel
121       2                          saab 99le        saab
146       2                           fiat 128        fiat
148       3                        honda civic       honda
170       3                      toyota corona      toyota
172       3                         datsun 710      datsun
48        1                 mercury capri 2000     mercury
58        2                  volkswagen type 3  volkswagen
81        3         toyota corona mark ii (sw)      toyota
167       1                         ford pinto        ford
169       1                      pontiac astro     pontiac
176       2                         audi 100ls        audi
177       2                        peugeot 504     peugeot
45        1                chevrolet vega (sw)   chevrolet
76        2                volkswagen 411 (sw)  volkswagen
79        1                    ford pinto (sw)        ford
109       3                         datsun 610      datsun
178       2                        volvo 244dl       volvo
60        1                ford pinto runabout        ford
77        2                   peugeot 504 (sw)     peugeot
108       1                     chevrolet vega   chevrolet
59        1                     chevrolet vega   chevrolet
107       3                      toyota carina      toyota
118       2                         audi 100ls        audi
111       1                         ford pinto        ford
119       2                        volvo 144ea       volvo
75        2                    volvo 145e (sw)       volvo
70        3                    mazda rx2 coupe       mazda
110       3                          mazda rx3       mazda

[196 rows x 10 columns]
                 mpg  displacement       weight  acceleration      model  \
cylinders
4          24.125000     117.12500  2293.875000     17.000000  73.250000
6          19.200000     223.30000  3102.400000     16.710000  73.500000
8          13.642857     355.52381  4232.857143     12.895238  72.428571

           origin
cylinders
4             1.5
6             1.0
8             1.0
            mpg  displacement horsepower  weight  acceleration  model  origin  \
cylinders
4          19.0            91         53    1795          15.0     71       1
6          15.0           171        110    2587          14.5     70       1
8          10.0           302        129    3086          10.0     70       1

                         car  brand
cylinders
4                 ford pinto   ford
6              buick century  buick
8          buick century 350  buick
            mpg  displacement horsepower  weight  acceleration  model  origin  \
cylinders
4          33.0           140          ?    2639          19.0     75       3
6          24.0           250          ?    3907          21.0     76       1
8          17.0           455        225    4951          16.0     76       1

                        car  brand
cylinders
4          honda civic cvcc  honda
6           ford torino 500   ford
8               ford torino   ford
cylinders      3          4          6          8
brand
amc          NaN        NaN  18.576923  14.937500
audi         NaN  24.000000        NaN        NaN
bmw          NaN  26.000000        NaN        NaN
buick        NaN        NaN  19.000000  13.333333
capri        NaN  25.000000        NaN        NaN
chevrolet    NaN  24.214286  17.142857  14.730769
chevy        NaN        NaN        NaN  10.000000
chrysler     NaN        NaN        NaN  13.000000
datsun       NaN  28.250000        NaN        NaN
dodge        NaN  26.750000        NaN  14.000000
fiat         NaN  27.714286        NaN        NaN
ford         NaN  22.666667  19.250000  13.766667
honda        NaN  28.500000        NaN        NaN
mazda       18.5        NaN        NaN        NaN
mercury      NaN  23.000000  18.000000  11.500000
oldsmobile   NaN        NaN        NaN  11.666667
opel         NaN  25.750000        NaN        NaN
peugeot      NaN  24.750000        NaN        NaN
plymouth     NaN  26.000000  19.555556  14.666667
pontiac      NaN  23.000000  19.000000  14.500000
renault      NaN  26.500000        NaN        NaN
saab         NaN  24.666667        NaN        NaN
subaru       NaN  26.000000        NaN        NaN
toyota       NaN  26.363636  20.000000        NaN
volkswagen   NaN  25.500000        NaN        NaN
volvo        NaN  19.666667        NaN        NaN